/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  color: black;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [y0] 3em [y1] 1fr [y2] 3em;
  }

 /*Especificidad: 001*/
  nav{
    background:#00438c;
    color:whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1em;
  }

  /*Especificidad: 001*/
  a{
    background:#00438c;
    color:whitesmoke;
    text-align: center;
  }


  /*Especificidad: 001*/
  label {
    padding: 1em;
    text-align: left;
    font-size: 1em;
  }

  
  /*Especificidad: 001*/
  li{
    padding-top: 1em;
  }

  
  /*Especificidad: 001*/
  footer {
    background:#00438c;
    color:whitesmoke;
    padding: 1em;
    text-align: center;
    grid-row: y2;
  }

/*Especificidad: 001*/
h1 {
  color: white;  
  background-color:#dc1d35; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;    
  }

  
  /*Especificidad: 001*/
  table , th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 1em;
  }


/*Selector Specificity: (0, 1, 1)*/
input[type="submit"]{
  grid-column: span 2;
  background-color: #00438c;
  color: #fff;
  visibility: visible;
}


/*Selector Specificity: (0, 0, 1)*/
input {
  grid-column: span 2;
  background-color: #b9c1c9;
  color: rgb(0, 0, 0);
  visibility: visible;
}



/*Selector Specificity: (0, 0, 1)*/
form{


  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 3%;


}

/*Selector Specificity: (0, 0, 1)*/
img{
  width: auto;
  height: 12em;
}